{% extends 'base.html' %}
{% include  'header.html' %}


{% block title %} Home {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron p-3">
                <h4>Manage <b>Employees</b> <button type="button" class="btn btn-success float-right"
                    data-toggle="modal" data-type="#mymodal" " onclick="$('#mymodal').modal('show');">Add new Employees</button> </h4>
            
                    <table class="table table-hover table-striped">
                        <tr class="text-center">
                            <th>Id</th>
                            <th>Name</th>
                            <th>E-mail</th>
                            <th>Phone</th>
                            <th>Action</th>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>José Ferrreira</td>
                            <td>jferreira@mail.com</td>
                            <td>31988778654</td>
                            <td>
                                <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit">Edit</a>
                                <a href="" class="btn btn-danger btn-xs" onclick="return confirm('Are yu sure you want to delete?')">Delete</a>
                            </td>
                        </tr>
                    </table>
            </div>
            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Employees</h4>
                        </div>
                        <div class="modal-body">
                            <form action="" id="newEmployeeModal"method="POST">
                                <div class="form-group">
                                    <label for="inputName">Nome:</label>
                                    <input type="text" class="form-control" name="inputName" id="inputName" required="1">
                                </div>
                                <div class="form-group" >
                                    <label for="inputEmail">E-mail:</label>
                                    <input type="email" class="form-control" name="inputEmail" id="inputEmail" required="1">
                                </div>
                                
                                <div class="form-group" >
                                    <label for="inputPhone">Telefone:</label>
                                    <input type="number" class="form-control" name="inputPhone" id="inputPhone" required="1">
                                </div>
                                <div class="form-group" >
                                    <button type="submit" class="btn btn-primary">Adicionar Empregado</button>
                                </div>
                            </form>
                        </div>
                    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    
                </div>
            </div><!--Fim mymodal-->
        </div>
    </div>
</div>
{% endblock %}